.fleft { float: left; }
body {
  background-color: #D3D3D3;
  color: #000000;
  font-family: 'QTS Font','Helvetica','Arial','Sans-serif','Verdana','Tahoma';
  font-size: 13px;
}
h1, a {
  color: #619200;
  text-decoration: none;
}
div#logo {
  width: 100%;
  height: 69px;
  background-image: url('images/crashplan.png');
  background-repeat: no-repeat;
  border-bottom: 2px solid #7AB700;
  padding-bottom: 15px;
  margin-top: 15px;
}
div#main {
  margin-left: 9px;
}
img {
  border: 0;
}
div.section {
  margin-top: 25px;
}
div.item {
  clear: both;
}
div.item img {
  margin-right: 10px;
}
div.item h1 {
  padding-top: 5px;
}
div.separation {
  border-top: 2px solid #7AB700;
  padding-top: 25px;
}
input[type="submit"]{
  border: 1px solid #7AB700;
  padding: 10px 25px;
  background-color: #FFFFFF;
  font-size: 14px;
}
span#warning {
  margin-left: 30px;
  color: #B33A3A;
}
